<h1>OUTSIDE RAW</h1>
hello {{ name }}
My email is {{ user.email }} 
My name is {{ user.first_name }}
{% raw %}
{% raw %}
<h1>RAW</h1>
{% endraw %}


{% raw %}{{ 5 | plus: 6 }}{% endraw %} equals 11.
{% raw %}<h1>RAW</h1>{% endraw %} equals 11.
<h2>Price: $99.99</h2>
